{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Hotel Management{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="page-container">
        <div class="content-wrap">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{% url 'index' %}">Hotel Management</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                            {% if user.is_staff %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'guest_list' %}">Huéspedes</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'reservation_list' %}">Reservas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'room_list' %}">Habitaciones</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'promotion_list' %}">Promociones</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'create_room' %}">Crear Habitación</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'create_promotion' %}">Crear Promoción</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'user_dashboard' %}">Tablero</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'user_reservations' %}">Mis Reservas</a>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <form method="post" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-link nav-link" style="border:none; background:none;">Cerrar Sesión</button>
                                </form>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'signup' %}">Registrarse</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>

            <div class="container mt-4">
                {% if messages %}
                    <div class="row">
                        <div class="col-md-12">
                            {% for message in messages %}
                                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <a href="#" class="btn btn-outline-dark btn-floating m-1" role="button"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="btn btn-outline-dark btn-floating m-1" role="button"><i class="fab fa-twitter"></i></a>
                <a href="#" class="btn btn-outline-dark btn-floating m-1" role="button"><i class="fab fa-instagram"></i></a>
                <a href="#" class="btn btn-outline-dark btn-floating m-1" role="button"><i class="fab fa-linkedin-in"></i></a>
                <p class="mt-3">&copy; 2024 Your Company. Todos los derechos reservados.</p>
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
