{% extends "reservations/base_generic.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">Bienvenido a Veranum</h1>
    <p class="lead">Disfruta tu estadía.</p>
    <hr class="my-4">
    <p>Tenemos las mejores habitaciones y servicios para hacer de tu estancia una experiencia inolvidable.</p>
    <a class="btn btn-primary btn-lg" href="{% url 'user_dashboard' %}" role="button">Ver habitaciones disponibles</a>
  </div>
{% endblock %}
