{% extends "reservations/base_generic.html" %}

{% block title %}Reservation List{% endblock %}

{% block content %}
  <h1>Reservation List</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Guest</th>
        <th>Room Number</th>
        <th>Check In Date</th>
        <th>Check Out Date</th>
      </tr>
    </thead>
    <tbody>
      {% for reservation in reservations %}
      <tr>
        <td>{{ reservation.guest.first_name }} {{ reservation.guest.last_name }}</td>
        <td>{{ reservation.room.room_number }}</td>
        <td>{{ reservation.check_in_date }}</td>
        <td>{{ reservation.check_out_date }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'create_reservation' %}" class="btn btn-primary">Agregar una nueva reserva</a>
{% endblock %}
