{% extends "reservations/base_generic.html" %}

{% block title %}My Reservations{% endblock %}

{% block content %}
  <h1>Mis Reservas</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Numero de Habitación</th>
        <th>Tipo dehabitación</th>
        <th>Inicio Reserva</th>
        <th>Fin Reserva</th>
      </tr>
    </thead>
    <tbody>
      {% for reservation in reservations %}
      <tr>
        <td>{{ reservation.room.room_number }}</td>
        <td>{{ reservation.room.room_type }}</td>
        <td>{{ reservation.check_in_date }}</td>
        <td>{{ reservation.check_out_date }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
